h4 {
    padding-top: 5px;
  }
  span {
    margin-right: 10px;
    font-size: larger;
    font-weight: 300;
  }
  
  input,select {
    height:30px;
    margin-right: 100px;
    border-color: darkturquoise;
    border-radius: 4px;
    outline-color: rgb(0, 225, 255);
    font-weight: 300;
    border-style:none;
  }
#row{
  background-color: rgb(193, 247, 248);
  border-width:2px;
  border-radius:4px;
  box-shadow:3px 3px 3px grey;
}