* {
  margin: 0;
  padding: 0;
}
#col-sm-2-person{
  margin-bottom:10px;
  margin-top: 15px;
  padding:3px;
}
#person {
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding: 0px;
    width: 98%;
    height: 230px;
    object-fit: cover;
  }


.pStyle1 {
  padding: 0px;
  margin-bottom: -32px;
  z-index: 2;
}

.personCard-bodys {
  padding: 2px;
  margin: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.card-titles {
  text-align: left;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.card-word{
  font-size: 19px;
  font-weight: 500;
  color: rgb(15, 184, 187);
}

.vote-mark{
  text-align: center;
  box-shadow:0 0 0 2px floralwhite,0 0 0 4px darkturquoise;
  width:50px;
  height:50px;
  font-size: larger;
  font-weight: 300;
  padding: 8px;
  margin-top: -16px;
  margin-left: -10px;
  background-color: rgb(15, 184, 187);
  border-style:solid;
  border-width:0px;
  border-radius:50px;
  color:white;
}

.known-for{
  color: darkgray;
  font-size: 8px;
  margin: 0px;
  width:98%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow : ellipsis;
}
.personCardOutside{
  border-width:2px;
  border-radius:2px;
  box-shadow: 0 8px 8px rgba(18,18,18,0.1),1px 1px 5px rgb(202, 199, 199);
}

.card{
  padding:2px;
}
.card-footers{
  color:black
}
